body{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color:yellow; font-family: Arial, Helvetica, sans-serif;
    
}



h2{
   font-family: Arial, Helvetica, sans-serif; color:rgb(40, 168, 40);
}

  

.nav-item:hover{
  color:yellow !important;
}
.nav-link{
  color:rgb(221, 221, 4) !important;
}
h3{
 text-decoration-color: green;
}

#passagens{
  background-color: rgb(230, 230, 41); height: 100%; width:60%;
}

label{
  color:aliceblue;
}

small{
  color:aliceblue;
}
#desc{
  text-decoration-color: rgb(30, 201, 30);
}
  


.gallery{
  width: 50%;
}